minimum-release-age-exclude[]=@typescript/native-preview
minimum-release-age-exclude[]=@typescript/native-preview-*
minimum-release-age-exclude[]=@rollup/rollup-*
minimum-release-age-exclude[]=@cloudflare/workers-types
minimum-release-age-exclude[]=react-router
minimum-release-age-exclude[]=react-router-dom
minimum-release-age-exclude[]=@react-router/node
minimum-release-age-exclude[]=@react-router/dev
minimum-release-age-exclude[]=@react-router/cloudflare
